# Ignore everything in terraform/
terraform/**
test/terraform.tfstate

# But don't ignore buildspec.yml in that folder
!terraform/iam.tf
!terraform/main.tf
!terraform/outputs.tf
!terraform/variables.tf